{% extends "layout.html" %}

{% block title %}
    Vibes
{% endblock %}

{% block forum %}
    active
{% endblock %}

{% block forumtag %}
    <span class="sr-only">(current)</span>    
{% endblock %}

{% block content %}
<div id="content-fluid" class="container p-3">


    {% for post in posts.items %}
        <div class="row">
            <div class="col-sm-2 align-self-start">
            <img class="rounded-circle" width="64" height="64" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" alt="Generic placeholder image">
            </div>
            <div class="col-sm-10">
                <div class="text-sm-left">
                    <a class="report-text-link" href="{{url_for('user_public',username=post.author.username)}}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                    <h5><a class="report-text-link" href="{{url_for('report', report_id = post.id)}}">{{post.title}}</a></h5>
                </div>
                <p class="text-sm-left">{{ post.content }}</p>
            </div>
        </div>
        <hr/>
    {% endfor %}  
    {% for page in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
        {% if page %}
            {% if posts.page == page %}
                <a class="btn btn-sm btn-dark" href="{{url_for('forum', page=page)}}">{{page}}</a>
            {% else %}
                <a class="btn btn-outline-dark btn-sm" href="{{url_for('forum', page=page)}}">{{page}}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}  

</div>

{% endblock %}