{% extends "layout.html" %}

{% block title %}
    MyProfile
{% endblock %}

{% block profile %}
    active
{% endblock %}

{% block profiletag %}
    <span class="sr-only">(current)</span>    
{% endblock %}

{% block content %}
<div id="content-fluid" class="container p-3">
    <div class="row">
        <div class="col-sm-6">
            <img class="rounded-circle profile-image" width="256" height="256" src="{{url_for('static', filename='profile_pics/'+ user.image_file)}}" alt="Generic placeholder image">
            <div class="mt-3 mb-5">
                    <a class="report-text-link" href="{{url_for('user_public',username=user.username)}}"><h5 class='display-5'>{{ user.username }}</h5></a>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                    {{user.email}}
            </div>
            <div class="mt-2">
            <form action="/profile" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input autocomplete="off" autofocus class="form-control form-control-sm" name="username" placeholder="Update Username" type="text">
                    &nbsp &nbsp
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>                
                </div>
                <div class="form-group">
                    <input autocomplete="off" class="form-control form-control-sm" name="email" placeholder="Update Email" type="email">
                    &nbsp &nbsp
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                    <input type="file" class="custom-file-input form-control-sm" id="avatar customFile" name="avatar" accept="image/*">     
                    <label class="custom-file-label" for="customFile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-upload"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="17 8 12 3 7 8"></polyline><line x1="12" y1="3" x2="12" y2="15"></line></svg>
                    </label>
                    </div>
                </div>
                <button class="btn btn-dark" type="submit">
                    Update
                </button>
            </form>
            </div>
        </div>
        <div class="col-sm-6">
            {% for post in posts.items %}
            <div class="row">
                    <div class="text-sm-left">
                        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S')}}</small>
                        <h5><a class="report-text-link" href="{{url_for('report', report_id = post.id)}}">{{post.title}}</a></h5>
                        <p class="text-sm-left">{{ post.content }}</p>
                    </div>
            </div>
            <hr/>
            {% endfor %}  
            {% for page in posts.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
                {% if page %}
                    {% if posts.page == page %}
                        <a class="btn btn-dark btn-sm" href="{{url_for('profile', username=user.username)}}">{{page}}</a>
                    {% else %}
                        <a class="btn btn-outline-dark btn-sm" href="{{url_for('profile', page=page)}}">{{page}}</a>
                    {% endif %}
                {% else %}
                    ...
                {% endif %}
            {% endfor %}  
        </div>
    </div>
    <p>
        <br>
    </P>
</div>
{% endblock %}